<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CSN Exam Registration</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="../script.js"></script>
    <link rel="icon" href="../Assets/CSN-logo.PNG"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.csn.edu/">
            <img src="../static/Assets/CSN-logo.PNG" alt="Logo" height="80px" class="d-inline-block align-text-top">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            <li class="nav-item">
              <a class="nav-link" href="https://enroll.csn.edu/">Areas of Interest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.csn.edu/giving">Give</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.csn.edu/apply">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.csn.edu/admissions/visit">Visit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://my.csn.edu/en-US/csn-rfi/">Request Info</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="student-dashboard-content">
    <div class="dashboard-header">
      <h1>Welcome, {{ student_name }}</h1>
      <h2>to your Student Dashboard</h2>
    </div>
      <!-- Replace [Student Name] with dynamic content -->
      <div class="dash-inline">
        <div class="user-info">
          <h3 class="card-heading">Your Information:</h3>
          <p class="dash-body-text">Email: {{ student_email }}<br>
          Student ID: {{ student_id }}</p> 
        </div>
        <div class="reserve-exam">
          <h3 class="card-heading">Register for an Exam</h3>
            <div class="dash-block">
              <form>
                <div class="course-dropdown">
                  <dropdown>
                    <label for="course-select" class="course-select">Select Course:</label>
                    <select id="course-select" name="courses" class="select-course">
                      <option value="course1">Course 1</option>
                      <option value="course2">Course 2</option>
                      <option value="course3">Course 3</option>
                    </select>
                  </dropdown>
                </div>
              </form>
              <a href="{{ url_for('schedule') }}" class="schedule-button">Schedule Exam
              </a>
            </div>
        </div>
      </div>
    <div class="upcoming-exams">
      <h2>Upcoming Exams</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash-wrap">
            {% for m in messages %}
              <div class="flash">{{ m }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% if message %}
        <p style="text-align:center; color:gray;">{{ message }}</p>
      {% else %}
        {% for exam in exams %}
        <div class="exam-card">
          <div class="exam-heading">
            <h4>{{ exam[1] }}</h4> <!-- Exam_Name -->
            <form method="POST" action="{{ url_for('cancel_exam', exam_id=exam[0]) }}">
              <button type="submit" class="cancel-button">Cancel</button>
            </form>
          </div>
          <div class="exam-details">
            <p>Date: {{ exam[2] }}</p>
            <p>Time: {{ exam[3] }}</p>
            <p>Location: {{ exam[4] }}, {{ exam[5] }}</p>
            <p>Proctor: {{ exam[6] | title}}</p>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    </div>
  </div>
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>